.workSectionDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: space-between;
    flex-wrap: wrap;
    gap: 16px;
}

.centerImg {
    display: flex;
    justify-content: center;
}

.workSection {
    padding: 8px;
    border-radius: 8px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.workSectionImage {
    max-width: 100%;
    height: auto;
    max-height: 300px;
    padding-bottom: 8px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.workSectionTitleText {
    text-align: center;
    padding-top: 4px;
}

.workSectionText {
    color: #1A1003;
    padding: 4px;
    margin: 0px;
    text-align: center;
}

.outerDiv {
    width: 48%;
}

@media only screen and (max-width: 660px) {
    .outerDiv {
        width: 100%;
    }
}